*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product{
    background-color: skyblue;
    width: 1000px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.product h1{
    text-transform: capitalize;
}

.product .desc{
    width: 70%;
    text-align: center;
}

.slider-container{
    background-color: green;
    width: 100%;
    padding: 10px 10px;
    
}

.slider-container .slider{
    display: flex;
    align-items: center;
    background-color: red;
    gap: 10px;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.slider .card{
    background-color: white;
    width: 220px;
    height: 300px;
    padding: 10px;
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
}