*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product{
    background-color: skyblue;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.product h1{
    text-transform: capitalize;
}

.product .desc{
    width: 70%;
    text-align: center;
}