*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product{
    background-color: skyblue;
    width: 1000px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.product h1{
    text-transform: capitalize;
}

.product .desc{
    width: 70%;
    text-align: center;
}

.slider-container{
    background-color: green;
    width: 100%;
    height: 350px;
    padding: 10px 0px;
    position: relative;
    overflow-x: scroll;
}

.slider-container .prev-btn{
    z-index: 5;
    position: absolute;
    left: -5px;
    top: 50%;
    font-size: 16px;
    padding: 5px 10px;
    font-weight: bolder;
    background-color: white;
    outline: 0;
    border: 0;
    color: cornflowerblue;
}

.slider-container .next-btn{
    z-index: 5;
    position: absolute;
    right: -5px;
    top: 50%;
    font-size: 16px;
    padding: 5px 10px;
    font-weight: bolder;
    background-color: white;
    outline: 0;
    border: 0;
    color: cornflowerblue;
}

.slider-container .slider{
    display: flex;
    background-color: red;
    gap: 10px;
    /* overflow-x: scroll; */
    position: absolute;
    left: 20px;
    transition: all 0.5s ease-out;
}

.slider::-webkit-scrollbar {
    /* display: none; */
}

.slider .card{
    background-color: white;
    height: 300px;
    padding: 10px;
    flex-basis: 220px;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 15px;
}



.card img{
    width: 100%;
    max-height: 200px;
    background: #f0e9e9;
    background: radial-gradient(circle,rgba(240, 233, 233, 1) 0%, rgba(100, 149, 237, 1) 100%);
    border-radius: 10px;
}

.card div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0px 5px;
}

.card div .title{
    font-size: 14px;
}

.card div .rating{
    font-size: 12px;
}
.card div .price{
    color: #6495ed;
    font-weight: bold;
}

.card div button{
    color: white;
    border: 0;
    outline: 0;
    background-color: black;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}